<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="admin/header :: header"></div>
  <body>
    <div th:replace="admin/header :: navbar"></div>
    <br /><br />
    <div class="container">
      <div class="row col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Create New Post</h2>
          </div>
          <div class="card-body">
            <form
              role="form"
              method="post"
              th:action="@{/admin/post}"
              th:object="${post}"
            >
              <div class="mb-3">
                <label for="" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Enter post title"
                  name="title"
                  th:field="*{title}"
                />
                <p
                  th:if="${#fields.hasErrors('title')}"
                  class="text-danger"
                  th:errors="*{title}"
                ></p>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Short Description</label>
                <textarea
                  class="form-control"
                  id="shortDescription"
                  placeholder="Enter post short description"
                  rows="3"
                  name="shortDescription"
                  th:field="*{shortDescription}"
                ></textarea>
                <p
                  th:if="${#fields.hasErrors('shortDescription')}"
                  class="text-danger"
                  th:errors="*{shortDescription}"
                ></p>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Content</label>
                <textarea
                  class="form-control"
                  id="content"
                  placeholder="Enter post content"
                  rows="12"
                  name="content"
                  th:field="*{content}"
                ></textarea>
                <p
                  th:if="${#fields.hasErrors('content')}"
                  class="text-danger"
                  th:errors="*{content}"
                ></p>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div th:replace="admin/footer :: footer"></div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script>
      ClassicEditor.create(document.querySelector("#content")).catch(
        (error) => {
          console.error(error);
        },
      );
    </script>
  </body>
</html>
